.post-header{
    margin-top: 30px;
}
.post-title{
    font-family: 'Candal', sans-serif;
    font-size: 2.5em;
}
.post-author{
    font-family: 'K2D', sans-serif;
}
.post-summary{
    font-family: 'K2D', sans-serif;
}
.technology{
    color: #00c853;
}
.coding {
    color: #304ffe;
}
.lifestyle {
    color: #ff6d00;
}
.announcements {
    color: #00bfa5;
}
.post-content{
    font-family: 'K2D', sans-serif;
    font-size: 1.2em;
}
.post-content-container {
    padding: 15px;
}