.project-header{
    margin-top: 30px;
}
.project-title{
    font-family: 'Candal', sans-serif;
    font-size: 2.5em;
}
.project-details-container {
    margin-bottom: 30px;
}
.project-duration {
    font-family: 'K2D', sans-serif;
    font-size: 1.2em;
}
.project-link{
    margin-top: 30px;
    margin-bottom: 30px;
}
.project-content-container{
    padding: 15px;
}
.project-description-content{
    font-family: 'K2D', sans-serif;
    font-size: 1.2em;
}