.blog-header {
    margin-top: 40px;
}
.blog-title{
    font-family: 'Candal', sans-serif;
    font-size: 3.5em;
}
.blog-description{
    font-family: 'K2D', sans-serif;
    font-size: 1.3em;
}
.blog-cards{
    margin-top: 50px;
}
.technology{
    color: #00c853;
}
.coding {
    color: #304ffe;
}
.lifestyle {
    color: #ff6d00;
}
.announcements {
    color: #00bfa5;
}