.welcome {
    background-image: url('../../assets/homeimage.webp');
    background-position: center,center; 
    background-size:cover;
    background-repeat: no-repeat;
}
.background-tint {
  background-color: rgba(0, 0, 0, 0.336); // Tint color
  background-blend-mode: multiply;
}
.home-title{
    font-family: 'Bevan', cursive;
    font-size: 3.5em;
}
.home-description{
    font-family: 'K2D', sans-serif;
    font-size: 1.3em;
}
.blog{
    background: #008cff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.insta {
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.feed {
    margin-top: 30px;
}
.post-container{
    margin-top: 30px;
}