<head>
  <script src="//www.powr.io/powr.js?external-type=html"></script>
</head>

<section class="hero is-fullheight">
  <div class="hero-body welcome background-tint">
    <div class="container has-text-centered" data-aos="fade-up">
      <h1 class="title home-title has-text-white">
        Welcome.
      </h1>
      <h2 class="subtitle home-description has-text-white">
        Keep scrolling to explore
      </h2>
    </div>
  </div>
</section>
<section class="section blog">
  <div class="hero-body">
    <div class="container has-text-centered" data-aos="fade-up">
      <h1 class="title home-title has-text-white is-size-1-mobile">
        Blog.
      </h1>
      <h2 class="subtitle home-description has-text-white">
        Check out some of the latest posts
      </h2>
    </div>

    <div class="sk-circle" *ngIf="loading">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
    <div class="columns post-container" *ngIf="!loading">
      <div class="column" *ngFor="let post of posts" data-aos="fade-in">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="{{post.blogThumbnail}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{post.title}}</p>
                <div class="subtitle">
                  <p class="is-6 has-text-link">{{post.author}}</p>
                  <p class="is-5 has-text-primary">{{post.category}}</p>
                </div>
              </div>
            </div>

            <div class="content">
              {{post.date}}<br><br>{{post.summary}}
            </div>
            <a class="button is-link is-outlined" [routerLink]="['/read-post', post.id]">Read More</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<section class="section insta">
  <div class="hero-body">
    <div class="container has-text-centered" data-aos="fade-up">
      <h1 class="title home-title has-text-white is-size-1-mobile">
        Instagram.
      </h1>
      <h2 class="subtitle home-description has-text-white">
        Check out my instagram feed and follow me to get all the latest updates
      </h2>
    </div>
    <div class="feed">
    <div class="powr-social-feed" id="8b4e62f6_1520368048" data-aos="fade-in"></div>
  </div>
  </div>

</section>